.Home-title {
  text-align: center;
  margin: 63.75px 0px 63.75px 0;
  font-weight: bold;
  font-size: 44.1px;
}

.modal.show .modal-dialog {
  margin: 0;
}
.modal-content {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
}
