/*------------------------------*\
     $COLORS
\*------------------------------*/

//Branding Colors

$color-black: #000000;
$color-white: #ffffff;
$color-purple: #5b17aa;
$color-gray: #6b6b6b;
$color-gray-card: #f4f4f4;
$color-border-info-card: #e6e6e6;
